* {margin:0; padding:0;}
.content {
    grid-area: c;
     position: relative;
     margin: 0;
   padding: 0;
    
  }
  .wrap{
   
    background: #b1abab;
    border-radius: 20px;
  }

  
  .h2{
    margin-left: 45px;
  }
  .imgbox{
     margin-left: 100px;
  }
  .mainBlock{
    margin-top: 50px;
    margin-bottom: 50px;

  }
  .title{
    margin-left: 20px;
    font-size: 20px;
  }
  .author{
    margin-left: 35px;
    margin-bottom: 20px;
  }
  .preloader{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
 }
 