.App-wrapper {
  display: grid;


  grid-gap: 10px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px 1fr;

}a{
  text-decoration: none;
}
li{
  
  list-style-type: none;
}







.App-wrapper :nth-child(1) {

  grid-column-start: 1;
  grid-column-end: 3;
}

.App-wrapper :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 1;
}

.App-wrapper :nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 2;
}
