.App-wrapper {
  display: grid;


  grid-gap: 10px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px 1fr;

}

.active{
  color: rgb(184, 202, 16);
}


.App-wrapper-content {
  grid-area: c;
  border: 1px solid black;
}



.App-wrapper :nth-child(1) {

  grid-column-start: 1;
  grid-column-end: 3;
}

.App-wrapper :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 1;
}

.App-wrapper :nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 2;
}
