.App-wrapper {
  display: grid;


  grid-gap: 10px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px 1fr;
  min-width: 500px;
}

.active{
  color: rgb(184, 202, 16);
}


.App-wrapper-content {
  grid-area: c;
  border: 1px solid black;
  border-radius: 20px;
  
}




