.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
  
}
.title{
  text-align: center;
  margin-top: 20px;
}

.dialogsItems {
  padding: 20px;
  font-size:120%;
}

.dialog {}

.messages {
  padding: 10px;
}

.message {}