.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}



.messages {
  padding: 20px;
  
}

.message {
  font-size:1em;
  margin: 23px;
  
  
  
  height: 30px;
  
}