.nav {
    grid-area: n;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    background-image: url('../../assets/img/v882batch2-kul-13-e.jpg');
    background-repeat:no-repeat;
    background-size:cover;
   
  }
  
  
  .item{
    margin: 35px;
    font-size: 20px;
  }
 
  a{
    
    text-decoration: none;
  }
  